html, body {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
}

//HEADER

.header {
    background-repeat: no-repeat;
    background-size: cover!important;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 700px;
    text-align: center;
    color: #fff;
}


.header-title {
    line-height: 80px;
    font-size: 65px;
    padding-top: 174px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: 200;
    text-shadow: 1px 1px 2px #8c8c8c;
}

.header-content {
    font-size: 20px;
    line-height: 29px;
    font-weight: 100;
    margin: 0 auto;
    text-align: center;
    margin-top: 28px;
    width: 66%;
}

.btn-start {
    color: #008CFF;
    background-color: rgba(240, 240, 240, 0.91);
    border: 2px solid #FFFFFF;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    margin-top: 50px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 300;
    margin-right: 25px;
    &:hover {
        text-decoration: none;
        background-color: #fff;
        color: #008CFF;
    }
    &:visited {
        text-decoration: none;
    }
}

.blue {
    margin-top: 5px;
    background-color: #008CFF;
    color: #ffffff;

    &:hover {
        background-color: darken(#008CFF, 10%);
        color: #fff;
    }

}

// Content

.content {
    min-height: 300px;
    vertical-align: top;
    width: 100%;
    padding: 106px 0 75px;
    text-align: center;
    box-sizing: border-box;
    & div {
        margin: 0 auto;
        height: 100%;
    }
}

.content-img {
    display: inline-block;
    width: 350px;
    height: 100%;
    padding-top: 15px;
}

.content-right {
    display: inline-block;
    width: 50%;
    max-width: 600px;
    padding-left: 8%;
    height: 100%;
    vertical-align: top;
    text-align: left;
}

.content-left {
    display: inline-block;
    width: 50%;
    max-width: 600px;
    padding-right: 6%;
    height: 100%;
    vertical-align: top;
    margin: 55px 20px;
    text-align: left;
}

.content-title {
    font-size: 48px;
    line-height: 48px;
    padding-top: 15px;
}

.content-text {
    font-size: 16px;
    color: #373737;
    font-weight: normal;
    line-height: 25px;
    padding: 35px 0;
    margin: 0;
}

.top {
    display: none;
}

//Img panel

.img-panel {
    height: 430px;
    width: 100%;
    position: relative;
    color: #FFFFFF;
}

#second {
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

#third {
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

@media only screen and (max-width: 768px) {

    .header {
        padding-top: 0px;
    }
    .btn-start {
        margin-right: 0;
    }

    .login {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .header-title {
        padding-top: 130px;
        font-size: 36px;
        line-height: 36px;
    }

    .img-panel {
        height: 350px;
    }

    .content {
        margin-top: -50px;
        width: 100%;
    }

    .content-title {
        font-size: 28px;
        line-height: 32px;
        padding-top: 0px;
        text-align: center;
    }

    .content-left {
        text-align: center;
        width: 100%;
        padding: 0 15px;
    }
    .content-right {
        text-align: center;
        width: 100%;
        padding: 0 15px;
    }

    .content-icon {
        width: 225px;
        height: 225px;
        margin-bottom: 10px;
    }
    .right {
        display: none;
    }
    .top {
        display: block;
        margin: auto;
    }
}