<!doctype html>
<html lang="fr" ng-app="app">
<head>
    <base href="{{ rootPath }}/">
    <meta charset="UTF-8">
    <title>My Social Media</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ rootPath }}/src/Lib/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ rootPath }}/src/Lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ rootPath }}/src/Stylesheet/app.css"/>
</head>
<body>

<nav class="navbar navbar-default" role="navigation" ng-include src="'{{ rootPath }}/src/Template/menu.html'"></nav>

<div class="main-content">
    <div class="container-fluid">
        <div class="row"  style="position: relative; top: 52px;">
            <div ng-class="connected ? 'col-xs-12 col-md-9 col-lg-10' : 'col-xs-12'" class="app-content" >
                <div ng-include src="'{{ rootPath }}/src/Template/alert.html'"></div>
                <div ng-view></div>
            </div>
            <div class="hidden-xs hidden-sm col-md-3 col-lg-2 social-bar" ng-show="connected" ng-include src="'{{ rootPath }}/src/Template/activity.html'"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ rootPath }}/src/Lib/jquery/dist/jquery.min.js"></script>
<script>
    var rootpath = "{{ rootPath }}";

    $(function () {
        $(document).on('click', '.collection-dropdown', function(e){
            e.stopPropagation();
        });
    });
</script>
<script type="text/javascript" src="{{ rootPath }}/src/Lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Lib/bootstrap/js/tooltip.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Lib/angular/angular.min.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Lib/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Lib/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Lib/angular-animate/angular-animate.min.js"></script>

<script type="text/javascript" src="{{ rootPath }}/src/Javascript/app.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Service/LoginService.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Service/DocumentService.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Service/DocumentTypeService.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Service/DocumentKindService.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Service/SearchService.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Service/LoanService.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Service/MediaService.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Service/MemberService.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Service/WishService.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Service/GhostMemberService.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Service/OAuthSigninService.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Service/GroupService.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/HomeCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/ContactCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/AlertCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/LoginCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/RegisterCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/LogoutCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/DashboardCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/ActivityCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/MemberDetailCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/MediaCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/MediaAddCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/MediaDetailCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/DocumentTypeCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/DocumentTypeAddCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/DocumentTypeDetailCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/DocumentTypeEditCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/DocumentTypeDeleteCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/DocumentKindCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/DocumentKindAddCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/DocumentKindDetailCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/DocumentKindEditCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/DocumentKindDeleteCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/DocumentCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/DocumentAddCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/DocumentEditCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/DocumentDetailCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/LoanCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/LoanAddCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/LoanDetailCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/SocialCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/ProfileCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/WishlistCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/WishlistAddCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/WishlistDeleteCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/OAuthSigninCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/LoginTwitterCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/GroupCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/GroupMembersCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/GroupBannedCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/GroupAddCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Directive/keySubmit.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Directive/editModal.js"></script>


</body>
</html>