<h3>Types de documents</h3>

<a href="{{createDocumentType}}" ng-href="{{createDocumentType}}">Ajouter un type de document</a>

<div class="row">
    <div class="col-lg-3" ng-repeat="type in types">
        <div class="card">
            <h1 ng-bind="type.name"></h1>
            <a ng-href="{{type.edit}}" href="{{type.edit}}"><i class="fa fa-pencil"></i></a><br/>
            <a ng-href="{{type.delete}}" href="{{type.delete}}"><i class="fa fa-trash"></i></a>
        </div>
    </div>
</div>
