
<!-- Affichage du champ de recherche -->

<div style="text-align: center;">
    <div class="row">
        <p style="margin-top: 1em;margin-bottom: 0.5em;"><b>Recherche</b></p>
    </div>
    <select-search></select-search>
</div>

<!-- Fin d'affichage du champ de recherche -->

<!-- Affichage de notre base de données -->

<p ng-show="searchLaunched" style="margin-top: 1em;"><b>Résultats de la recherche</b></p>

<div class="row" style="text-align: center; margin-top: 2em;" ng-show="searchStarted">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<div class="row" style="text-align: center; margin-top: 1em;" ng-show="searchLaunched && documents.length == 0">
    <p><b>Aucun document trouvé dans notre base</b></p>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="document in documents">
        <search-document-card></search-document-card>
    </div>
</div>

<div class="row" style="text-align: center; margin-top: 1em;" ng-show="!documents.canLoad && searchLaunched && documents.length > 0">
    <p><b>Aucun autre contenu à afficher</b></p>
</div>

<!-- Fin d'affichage de notre base de données -->


<!-- Affichage des résultats Amazon -->

<div class="row" style="text-align: center; margin-top: 1em;" ng-show="amazonSearchAllowed">
    <p>Vous ne trouvez pas ce que vous cherchez ? <a href="" ng-click="amazonSearch(search,filter)"><b>Lancez la recherche sur Amazon</b></a></p>
</div>


<p ng-show="amazonSearchLaunched" style="margin-top: 2em;"><b>Recherche sponsorisée par Amazon</b></p>
<div class="row" style="text-align: center; margin-top: 2em;" ng-show="amazonSearchStarted">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="document in amazonDocuments">
        <amazon-document-card></amazon-document-card>
    </div>
</div>

<modal title="Détail de produit Amazon" visible="showModal">
    <div style="text-align: center;">
        <img ng-src="{{amazonDetail.full.LargeImage.URL}}" alt="" style="max-width: 100%;"/>
    </div>
    <p style="margin-top: 0.5em;"><b>Détails : </b></p>
    <p>Type : {{amazonDetail.type}}</p>
    <p>Auteur : {{amazonDetail.full.ItemAttributes.Author}}</p>
</modal>

<div class="row" style="text-align: center; margin-top: 1em;" ng-show="!amazonSearchStarted && amazonSearchLaunched && amazonDocuments.length == 0">
    <p><b>Aucun document correspondant chez Amazon</b></p>
</div>

<div class="row" style="text-align: center; margin-top: 1em;margin-bottom: 1em;" ng-show="!amazonSearchStarted && amazonSearchLaunched">
    <a href="" ng-click="amazonSearch(search,filter)"><b>Relancer la recherche sur Amazon</b></a>
</div>


<!-- Fin d'affichage des résultats Amazon -->

<hr/>

<!-- Vos documents -->

<p style="margin-top: 1em;"><b>Vos documents <span ng-show="myDocuments.count > 0">({{myDocuments.count}} documents)</span></b></p>

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="myDocumentsLoaded">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<div class="row" style="text-align: center; margin-top: 2em;" ng-show="myDocumentsLoaded && myDocuments.length == 0">
    <p><b>Vous ne possédez encore aucun document</b></p>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="document in myDocuments">
        <my-document-card></my-document-card>
    </div>
</div>

<div class="row" style="text-align: center; margin-top: 1em;" ng-show="myDocuments.canLoad">
    <a href="" ng-click="moreMyDocuments()"><b>En afficher plus</b></a>
</div>

<div class="row" style="text-align: center; margin-top: 1em;" ng-show="!myDocuments.canLoad && myDocuments.length > 0">
    <p><b>Aucun autre contenu à afficher</b></p>
</div>

<!-- Fin de vos documents -->

<hr/>

<!-- Affichage des documents récents -->

<p style="margin-top: 1em;"><b>Documents ajoutés récemment par les membres</b></p>

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="latestDocuments">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<div class="row" style="text-align: center; margin-top: 2em;" ng-show="latestDocuments.length == 0">
    <p><b>Aucun document trouvé</b></p>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="document in latestDocuments | limitTo:limitLatestDocuments">
        <latest-document-card></latest-document-card>
    </div>
</div>

<div class="row" style="text-align: center; margin-top: 1em;" ng-show="limitLatestDocuments == 12">
    <a href="" ng-click="moreLatestDocuments()"><b>En afficher plus</b></a>
</div>

<div class="row" style="text-align: center; margin-top: 1em;" ng-show="limitLatestDocuments == 24">
    <a href="" ng-click="lessLatestDocuments()"><b>En afficher moins</b></a>
</div>

<!-- Fin d'affichage des documents récents -->
