<h3 ng-bind="title"></h3>

<form method="POST" ng-submit="submit()">
    Nom : <input type="text" ng-model="document.name" placeholder="Nom"/><br/>
    ISBN : <input type="text" ng-model="document.isbn" placeholder="ISBN"/><br/>
    EAN13 : <input type="text" ng-model="document.ean13" placeholder="EAN13"/><br/>
    Producteur : <input type="text" ng-model="document.producer" placeholder="Producteur"/><br/>
    Collection : <input type="text" ng-model="document.collection" placeholder="Collection"/><br/>
    Edition : <input type="text" ng-model="document.edition" placeholder="Edition"/><br/>
    Type : <select ng-model="document.typeId">
    <option ng-repeat="type in types" ng-value="type.id" ng-bind="type.name" ng-selected="{{type.selected}}"></option>
</select><br/>
    Genres :
    <select ng-model="document.kindId" multiple>
        <option ng-repeat="kind in kinds" ng-value="kind.id" ng-bind="kind.name" ng-selected="{{kind.selected}}"></option>
    </select><br/>
    Auteurs : <input type="text" ng-model="document.author" placeholder="Auteurs"/><br/>
    Développeur : <input type="text" ng-model="document.developer" placeholder="Développer"/><br/>
    Groupe : <input type="text" ng-model="document.band" placeholder="Groupe"/><br/>
    Publié le : <input type="text" ng-model="document.publishedAt" placeholder="Publié le"/><br/>
    <input type="submit"/>
</form>

