<div class="row" style="text-align: center; margin-top: 2em;" ng-show="checkingRights">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>
<div ng-hide="checkingRights">
<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="members">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<h1><a ng-href="{{group.url}}" href="{{group.url}}">{{group.name}}</a></h1>
<h2>Membres</h2>

<p><a href="" class="btn btn-primary" ng-click="join()">Rejoindre le groupe</a></p>

<p>Rechercher ou ajouter un membre : <input type="text" ng-model="search" placeholder="Entrer un nom de membre"/></p>
<p style="color: #ED5565;" ng-show="search.length < 4 && search.length > 0">4 caractères sont nécessaires pour lancer la recherche</p>
<h5 ng-show="searchWorking" style="margin-top: 0.5em; display: inline-block;">Résultats</h5>
<p style="display: inline-block;" ng-hide="searchResults.length == 0">
    <span ng-hide="searchResults.length == 0 || searchResults.length == 1 || !searchResults">({{searchResults.length}} résultats)</span>
    <span ng-show="searchResults.length == 1">(1 résultat)</span>
</p>
<p ng-show="searchResults.length == 0 && !searchWorking"><b>Aucun résultat</b></p>
<div class="row" style="text-align: center; margin-top: 2em;" ng-show="searchWorking">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>
<div class="row">
    <div class="col-lg-2" ng-repeat="result in searchResults">
        <div class="card">
            <p ng-bind="result.member.name"></p>
            <p ng-show="result.inGroup"><small>dans le groupe ({{result.role}})</small></p>
            <a ng-href="{{member.detail}}" href="{{member.detail}}"><i class="fa fa-eye"></i></a>
            <a ng-hide="result.inGroup" ng-click="addMember(result.member.id)" href="" ><i class="fa fa-user-plus"></i></a>
            <a ng-show="result.inGroup" ng-click="deleteMember(result.member.id)" href=""><i class="fa fa-user-times"></i></a>
        </div>
    </div>
</div>
<div class="row" style="text-align: center; margin-top: 1em;">
    <p ng-show="searchResults.canLoad"><a class="btn btn-primary" href="" ng-click="moreSearchMembers()">En afficher plus</a></p>
    <p ng-hide="searchResults.canLoad || searchResults.length == 0 || !searchResults"><b>Aucun autre membre à afficher</b></p>
</div>

<div class="row" ng-repeat="member in members">
    <div class="col-md-12 col-lg-10">
        <div class="card">
            <h4 ng-bind="member.member.name"></h4><p ng-bind="member.right.name"></p>
            <p>Ajouté le <span ng-bind="member.createdAt"></span></p>
            <a ng-href="{{member.edit}}" href="{{member.edit}}"><i class="fa fa-pencil"></i></a>
            <a ng-click="deleteMember(member.member.id)" href=""><i class="fa fa-times"></i></a>
        </div>
    </div>
</div>

<p ng-show="members.length == 0">Aucun membre dans le groupe pour le moment</p>

<div class="row text-center" ng-show="members.canLoad"><a class="btn btn-primary" href="" ng-click="moreLatestMembers()">Plus de membres</a></div>
<div class="row text-center" ng-hide="members.canLoad || members.length == 0"><p><b>Aucun autre membre à afficher</b></p></div>
</div>