<section id="home">
    <div class="col-xs-12 text-center">
        <h2>My Social Media</h2>
        <h3>Gestionnaire de médiathèque en ligne</h3>

        <input type="button" value="Connexion" ng-click="login()"/>
        <input type="button" value="Inscription" ng-click="register()"/>
    </div>
</section>
