<p style="margin-top: 1em;margin-bottom: 0.5em;"><b>Créer une médiathèque</b></p>

<form method="POST" ng-submit="submit()">
    <input type="text" ng-model="media.name" placeholder="Nom"/><br/>
    <input id="public" type="checkbox" ng-model="media.public"/><label for="public"> Collection publique</label><br/>

    <div class="row">
        <div class="col-xs-12">
            <p style="margin-top: 1em;">
                <b>Documents (<span ng-show="media.documents.length == 0">Aucun document</span><span ng-show="media.documents.length == 1">{{media.documents.length}} document</span><span ng-show="media.documents.length > 1">{{media.documents.length}} documents</span>)
                </b>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade">
            <add-document-card></add-document-card>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="document in media.documents">
            <my-media-document-card></my-media-document-card>
        </div>
    </div>

    <div ng-show="displaySearch">
        <p style="margin-top: 1em;"><b>Recherche</b></p>
        <select-search></select-search>

        <p ng-show="searchLaunched" style="margin-top: 1em;"><b>Résultats de la recherche</b></p>

        <div class="row" style="text-align: center; margin-top: 2em;" ng-show="searchStarted">
            <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
        </div>

        <div class="row" style="text-align: center; margin-top: 1em;" ng-show="documents.length == 0">
            <p><b>Aucun document trouvé dans notre base</b></p>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="document in documents">
                <search-loan-document-card></search-loan-document-card>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 2em;">
        <div class="col-xs-12">
            <input type="submit" class="btn btn-default" value="Créer la médiathèque"/>
        </div>
    </div>
</form>
</form>