<div style="margin-top: 1em;margin-bottom: 0.5em;text-align: center;">
    <p><img ng-src="{{ member.profilePicture }}" alt="" style="border-radius: 200px; max-width: 100px; max-height: 100px;"/></p>
    <p style="margin-top: 1em;"><b ng-bind="member.name"></b></p>

    <div>
        <div class="btn-group" ng-show="member.inContacts == true && !member.itsMe">
            <button type="button" class="button-card" ng-click="removeContact(member.id)" data-toggle="tooltip" data-placement="top" title="Supprimer de mes contacts" tooltip style="margin-top: 0.5em;padding: 0 5px; background-color: transparent; border-color: transparent; box-shadow: none; font-size: 1.2em;">
                <i class="fa fa-user-times"></i>
            </button>
        </div>
        <div class="btn-group" ng-show="!member.inContacts && !member.itsMe">
            <button type="button" class="button-card" ng-click="addContact(member.id)" data-toggle="tooltip" data-placement="top" title="Ajouter à mes contacts" tooltip style="margin-top: 0.5em;padding: 0 5px; background-color: transparent; border-color: transparent; box-shadow: none; font-size: 1.2em;">
                <i class="fa fa-user-plus"></i>
            </button>
        </div>
    </div>
</div>

<hr/>

<!-- Statistiques du Dashboard -->

<p><b>Statistiques publiques de son compte</b></p>

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="statistics">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<div class="row" ng-show="statistics">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade">
        <div class="card">
            <p><b>Documents</b></p>
            <h3 style="text-align: center;">{{statistics.documents}}</h3>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade">
        <div class="card">
            <p><b>Médiathèques publiques</b></p>
            <h3 style="text-align: center;">{{statistics.medias}}</h3>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade">
        <div class="card">
            <p><b>Contacts</b></p>
            <h3 style="text-align: center;">{{statistics.contacts}}</h3>
        </div>
    </div>
</div>

<!-- Fin statistiques du Dashboard -->

<p style="margin-top: 1em;margin-bottom: 0.5em;"><b>Médiathèques publiques <span ng-show="medias.length > 0">(<span ng-bind="medias.length"></span> <span ng-show="medias.length == 1">médiathèque</span><span ng-show="medias.length > 1">médiathèque</span>)</span></b></p>

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="medias">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<div class="row" style="text-align: center; margin-top: 2em;" ng-show="medias.length == 0">
    <p><b>Aucune médiathèque publique trouvée</b></p>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="media in medias">
        <public-media-card></public-media-card>
    </div>
</div>
