<div class="container-fluid" ng-show="connected">
    <div class="navbar-header">
        <a id="menu-toggle" href="#" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="navbar-brand" href="#">My Social Media</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="padding: 0 16px 0 16px; padding-top: 6px;"><span ng-bind="infos.name"></span> <img ng-src="{{ infos.profilePicture }}" alt="" style="height: 37px; margin-left: 5px; border-radius: 40px; vertical-align: middle;"/></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{profile}}" ng-href="{{profile}}">Profil</a></li>
                    <li><a href="{{logout}}" ng-href="{{logout}}">Déconnexion</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="sidebar-wrapper" class="sidebar-toggle">
        <ul class="sidebar-nav">
            <li ng-class="{active:menu.active}" ng-repeat="menu in menus">
                <a href="{{menu.link}}" ng-href="{{menu.link}}"><i class="fa" ng-class="menu.icon"></i><br/><span>{{menu.name}}</span></a>
            </li>
        </ul>
    </div>
</div>


<script>
    (function () {
        if ($(window).width() >= 751) {
            document.getElementsByClassName("sidebar-toggle")[0].style.left = "200px";
        } else {
            document.getElementsByClassName("sidebar-toggle")[0].style.left = "-200px";
        }
    })();

    $(window).resize(function () {
        var path = $(this);
        var contW = path.width();
        if (contW >= 751) {
            document.getElementsByClassName("sidebar-toggle")[0].style.left = "200px";
        } else {
            document.getElementsByClassName("sidebar-toggle")[0].style.left = "-200px";
        }
    });

    $(document).ready(function () {
        $('.dropdown').on('show.bs.dropdown', function (e) {
            $(this).find('.dropdown-menu').first().stop(true, true).slideDown(300);
        });
        $('.dropdown').on('hide.bs.dropdown', function (e) {
            $(this).find('.dropdown-menu').first().stop(true, true).slideUp(300);
        });
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            var elem = document.getElementById("sidebar-wrapper");
            left = window.getComputedStyle(elem, null).getPropertyValue("left");
            if (left == "200px") {
                document.getElementsByClassName("sidebar-toggle")[0].style.left = "-200px";
            }
            else if (left == "-200px") {
                document.getElementsByClassName("sidebar-toggle")[0].style.left = "200px";
            }
        });
    });
</script>