<section id="home">
    <div class="col-xs-12 text-center">
        <h2 class="text-center">Inscription</h2>
        <p style="margin-bottom: 1em;">
            Vous avez déjà un compte ? <a href="" ng-click="login()">Connectez-vous</a> dès maintenant !
        </p>
        <p>{{error}}</p>

        <form ng-submit="register()" method="POST" name="form">
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                    <input type="text" ng-model="user.name" placeholder="Nom" ng-required/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                    <input type="email" ng-model="user.mail" placeholder="Email" ng-required/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                    <input type="password" ng-model="user.password" placeholder="Choisissez un mot de passe" ng-required/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                    <input type="password" ng-model="password" placeholder="Répétez votre mot de passe" ng-required/>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Inscription"/>
            </div>
        </form>
        <p style="margin-bottom: 1em;">Ou inscrivez-vous avec le réseau social de votre choix :</p>
        <oauth-buttons></oauth-buttons>
    </div>
</section>