<div class="card add-media-card">
    <p>
        <a class="fa fa-plus" href="{{createMedia}}" ng-href="{{createMedia}}"></a><br/><a href="{{createMedia}}" ng-href="{{createMedia}}">Ajouter une collection</a>
    </p>
</div>
