<div class="btn-group">
    <button type="button" class="button-card dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="Ajouter aux collections" tooltip>
        <i class="fa fa-bookmark-o"></i>
    </button>
    <ul class="dropdown-menu collection-dropdown" role="menu">
        <li><p style="text-align: center;"><b>Mes collections</b></p></li>
        <li ng-show="collections.length == 0"><p>Aucune collection trouvée</p></li>
        <li ng-repeat="collection in collections" ng-click="toggleDocumentMedia(document, collection.id)">
            <a style="cursor: pointer;">
                <span style="position: absolute;">
                    <i class="fa fa-check" ng-show="document.collections[collection.id].added == true && document.collections[collection.id].onLoad == false"></i>
                    <i class="fa fa-cog fa-spin" ng-show="document.collections[collection.id].onLoad"></i>
                </span>
                <span style="margin-left: 20px;" ng-bind="collection.name"></span>
            </a>
        </li>
    </ul>
</div>