<a ng-href="{{document.detail}}" href="{{document.detail}}">
    <img class="document-miniature" ng-src="{{document.smallImage}}" alt=""/>
</a>
<p>
    <a ng-href="{{document.detail}}"
            href="{{document.detail}}"
            data-toggle="tooltip"
            data-placement="top"
            title="{{document.name.length > maxlength ? document.name : ''}}"
            tooltip>
        <b>{{document.name | limitTo: maxlength }}{{ document.name.length > maxlength ? '...' : ''}}</b>
    </a>
</p>
<p>
    <span ng-bind="document.type"></span>
    <span ng-hide="document.type">Aucun type</span>
</p>