<div class="card document-card">
    <document-base></document-base>
    <div class="menu-dropdown">
        <div style="position: relative;">
            <bookmark-dropdown></bookmark-dropdown>
            <wishlist-button></wishlist-button>
            <div class="btn-group">
                <button type="button" class="button-card dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Supprimer de mes documents</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>