<div class="card group-card">
    <p><a href="{{group.detail}}" ng-href="{{group.detail}}"><b ng-bind-html="group.name"></b></a></p>
    <p class="group-type"><span ng-bind="group.type.name"></span><span ng-hide="group.type.name">Aucun type</span></p>
</div>