<div class="card document-card">
    <document-base></document-base>
    <div class="menu-dropdown">
        <div style="position: relative;">
            <wishlist-button></wishlist-button>
            <i class="fa fa-cog fa-spin" ng-show="document.addDocumentLoading"></i>
            <div class="btn-group" ng-show="!document.inDocuments && !document.addDocumentLoading">
                <button type="button" class="button-card" ng-click="addToCollection(document.id)" data-toggle="tooltip" data-placement="top" title="Ajouter aux documents" tooltip>
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <i class="fa fa-cog fa-spin" ng-show="document.removeDocumentLoading"></i>
            <div class="btn-group" ng-show="document.inDocuments && !document.removeDocumentLoading">
                <button type="button" class="button-card dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="removeFromCollection(document.id)">Supprimer de mes documents</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>