<div class="card contact-card">
    <contact-base></contact-base>
    <div class="menu-dropdown">
        <div style="position: relative; padding-right: 15px; padding-left: 15px;">
            <div class="btn-group" ng-hide="member.inContacts == true">
                <button type="button" class="button-card" ng-click="addContact(member.id)" data-toggle="tooltip" data-placement="top" title="Ajouter à mes contacts" tooltip>
                    <i class="fa fa-user-plus"></i>
                </button>
            </div>
            <div class="btn-group" style="float: right;">
                <button type="button" class="button-card dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="Options" tooltip>
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="removeContact(member.id)" ng-show="member.inContacts == true">Supprimer de mes contacts</a></li>
                    <li><a href="">Signaler ce membre</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>