<div class="card document-card">
    <document-base></document-base>
    <div class="menu-dropdown">
        <div style="position: relative;">
            <bookmark-dropdown></bookmark-dropdown>
            <i class="fa fa-cog fa-spin" ng-show="document.removeDocumentLoading"></i>
            <div class="btn-group" ng-show="!document.removeDocumentLoading">
                <button type="button" class="button-card dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="Options" tooltip>
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="removeFromCollection(document.id)">Supprimer de mes documents</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>