<div class="card loan-card">
    <p><b><span ng-bind="loan.documents.length"></span> <span ng-show="loan.documents.length == 1">document</span><span ng-show="loan.documents.length > 1">documents</span></b></p>
    <p>Prêté par : <b><span ng-bind="loan.lender.name"></span><span ng-bind="loan.ghostLender.name"></span></b></p>
    <p>Emprunté par : <b><span ng-bind="loan.borrower.name"></span><span ng-bind="loan.ghostBorrower.name"></span></b></p>
    <p>Emprunt créé le : <b><span ng-bind="loan.createdAt"></span></b></p>
</div>