<div class="card media-card">
    <p><a ng-href="{{media.detail}}" href="{{media.detail}}"><b ng-bind="media.name"></b></a> <span style="float: right;"><i class="fa fa-eye-slash" ng-show="!media.public"></i><i class="fa fa-eye" ng-show="media.public"></i></span></p>
    <p>
        <span ng-show="media.documents.length > 0"><span ng-bind="media.documents.length"></span> <span ng-show="media.documents.length == 1">document</span><span ng-show="media.documents.length > 1">documents</span></span>
        <span ng-show="media.documents.length == 0">Aucun document</span>
    </p>

    <div class="menu-dropdown align-right">
        <div style="position: relative;">
            <div class="btn-group">
                <button type="button" class="button-card dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="Options" tooltip>
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-show="!media.public"><a href="" ng-click="setPublic(media.id)">Rendre publique</a></li>
                    <li ng-show="media.public"><a href="" ng-click="setPrivate(media.id)">Rendre privé</a></li>
                    <li><a href="" ng-click="removeMedia(media.id)">Supprimer</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>