<div class="card document-card">
    <document-base></document-base>
    <div class="menu-dropdown">
        <div style="position: relative;">
            <div class="btn-group">
                <button type="button" ng-click="addToCollection(document.id)" class="button-card dropdown-toggle" title="Ajouter à mes documents" tooltip>
                    <i class="fa fa-check"></i>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="button-card dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="Options" tooltip>
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="deleteOne(document.id)">Supprimer de mes souhaits</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>