<div class="card document-card">
    <document-base></document-base>
    <div class="menu-dropdown" ng-class="{'align-right':document.inCollection}">
        <div style="position: relative;">
            <div class="btn-group" ng-hide="document.inCollection">
                <button type="button" class="button-card" ng-click="addDocument(document.id)" data-toggle="tooltip" data-placement="top" title="Ajouter à la collection" tooltip>
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <div class="btn-group" ng-show="document.inCollection">
                <button type="button" class="button-card dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="Options" tooltip>
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-click="removeDocument(document.id)"><a href="">Supprimer de cette collection</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>